<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Explore the Solar System
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="/">Home</a></li>
            <li><a class="dropdown-item" href="/planet?planetName=Mercury">Mercury</a></li>
            <li><a class="dropdown-item" href="/planet?planetName=Venus">Venus</a></li>
            <li><a class="dropdown-item" href="/planet?planetName=Earth">Earth</a></li>
            <li><a class="dropdown-item" href="/planet?planetName=Mars">Mars</a></li>
            <li><a class="dropdown-item" href="/planet?planetName=Jupiter">Jupiter</a></li>
            <li><a class="dropdown-item" href="/planet?planetName=Saturn">Saturn</a></li>
            <li><a class="dropdown-item" href="/planet?planetName=Uranus">Uranus</a></li>
            <li><a class="dropdown-item" href="/planet?planetName=Neptune">Neptune</a></li>

            <li><a class="dropdown-item" href="/planet?planetName=Asteroids">Asteroids</a></li>
            <li><a class="dropdown-item" href="/planet?planetName=Comets">Comets</a></li>
            <li><a class="dropdown-item" href="/nasapod">NASA POD</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
