<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs") %>
</head>

<body>
    <h1 class="text-center bg-black p-5 text-white m-0">The Solar System</h1>
    <%- include("partials/nav.ejs") %>

    <div class="container-fluid text-center my-4">
        <img class="home-random-image" src="<%= randomImage %>" alt="Random Solar System Image">
    </div>

    <%- include("partials/footer.ejs") %>
</body>

</html>
